* {
  margin: 0;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

p.text {
  line-height: 1.5;
}

.aboutMe p {
  border-bottom: white 2px solid;
  color: white;
  line-height: 1.5;
  margin: 15px
}

.stackContainer {
  line-height: 1.5;
}

.codingAndPresent {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.coding, .present {
  flex: 1;
}

.coding {
  overflow-x: auto;
}

.cv {
  width: 45vw;
  height: 95vh;
}

.main {
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}

.main>div {
  flex: 1;
}

.main>div>div {
  padding: 10px 0;
}

.main a {
  color: rgb(149, 184, 209);
  font-size: 16px;
  text-decoration: none;
}

.main p {
  font-style: italic;
  color: grey;
}

.present {
  font-size: 12px;
}

.info a {
  color: white;
}

.avatar {
  border: 3px solid white;
  margin: 20px 0;
}

.present {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skipPlaying {
  position: fixed;
  bottom: 50px;
  right: 50px;
  outline: none;
  color: rgb(52, 80, 105);
  background-color: rgba(146, 253, 218, 0.3);
  border: 2px solid #95B8D1;
  border-radius: 10px;
  height: 40px;
}

.skipPlaying:hover {
  cursor: pointer;
}

@media (max-width: 1200px) and (orientation: portrait) {
  .codingAndPresent {
    flex-direction: column-reverse;
  }
  .cv {
    width: 95%;
    height: 95%;
  }
}